main{
    background-color: #6cef79c4;
   border-radius: 10px;
   padding: 8vw;
}

.btn-style{
    background-color: rgba(250, 255, 251, 0.822);
    padding: 2vh;
    border-radius: 10px;
    border: none;
    
}

.choice-style{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}