body{
    background-color: #6cef79c4;
   border-radius: 10px;
   padding: 8vw;
  background-size: cover;
}

#question_No_Header{
    height: 5vh;
}

/* Answer button design */
.btn-style{
    background-color: rgba(250, 255, 251, 0.749);
    padding: 2vh;
    border-radius: 10px;
    border: none;
    
}

.btn-style:hover{
background-color:  rgba(250, 255, 251, 0.998);
}

.choice-style{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#choices{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
/* Correct and next button design */
.nextBtn-Contaniner{
    display: flex;
    justify-content: end;
    gap:25vw;

    margin: 10vh;
    text-align: center;
}

.nextBtn-style-on{
    background-color: rgba(36, 124, 255, 0.977);
    border: none;
    border-radius: 10px;
    color: white;
    
   
}

.nextBtn-style-off{
 display: none;
}
/* To check whether the answer is correct */
.btn-style.correct{
    background-color: rgb(0, 255, 0);
}

.btn-style.wrong{
    background-color: rgba(235, 19, 19, 0.877);
}

/* Score Page */
.score-display-off{
display: none;
}

.score-display-on{
    display: block;
   text-align: center;
}

#restart-btn{
display: block;
margin-left:50%;
margin-top: 8vh;

padding: 1vw;
border: none;
border-radius:5px ;
}
/* hidden class */
.hidden{
    display: none;
}